
<div class="container">
  <div class="containerComponent">    
    <div></div>
    <div></div>
    <div><b>Stok</b></div>
    <div></div>
    <div><button type="button" class="btn btn-primary addProduct" data-bs-toggle="modal" data-bs-target="#exampleModalToggle2">Ürün Paneli</button></div>  
  </div>

    <div class="containerComponent">
        <div class="containerInfo">Stok ID</div>
        <div class="containerInfo">Tipi</div>        
        <div class="containerInfo">Sayısı</div>
        <div class="containerInfo">Tip ID</div>
        <div class="containerInfo">Düzenle</div>
    </div>
    <div *ngFor="let stock of stock; let i = index" class="containerComponent" (click)="selectStock(i)">
        <div class="shelfDataDiv">{{ stock.id }}</div>
        <div class="shelfDataDiv">{{ stock.type }}</div>
        <div class="shelfDataDiv">{{ stock.quantity }}</div>
        <div class="shelfDataDiv">{{ stock.typeId}}</div>                         
        <div class="grid-container">
          <div class="grid-item"><i class="bi bi-pen" (click)="typeInformation(stock.type, stock.typeId)" data-bs-toggle="modal" data-bs-target="#editModalToggle"></i></div>      
          <div class="grid-item"><i class="bi bi-trash3" data-bs-toggle="modal" data-bs-target="#stockRemoveModalToggle"></i></div>                     
          <div class="grid-item"><i class="bi bi-info-circle" (click)="typeInformation(stock.type, stock.typeId)" data-bs-toggle="modal" data-bs-target="#exampleModalToggle"></i></div>
        </div> 
      </div>     
</div>

<!-- Information Modal -->
<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalToggleLabel">Ürün Bilgileri</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Stok bilgilerini düzenleme formu -->
        <form>
          <div class="mb-3">
            <label for="stockId" class="form-label">Ürünün Stok ID</label>
            <input type="text" class="form-control" id="stockId" [value]="selectedStock?.id" disabled>
          </div>
          <div class="mb-3">
            <label for="type" class="form-label">Hangi Parça</label>
            <input type="text" class="form-control" id="type" [value]="selectedStock?.type" disabled>
          </div>
          <div class="mb-3">
            <label for="quantity" class="form-label">Ürün Sayısı</label>
            <input type="number" class="form-control" id="quantity" aria-label="Number value for quantity" [value]="selectedStock?.quantity" disabled>
          </div>        
          @if (selectedGlobalType === 'gpu') {
            <form>
              <div class="mb-3">
                <label for="typeBrand" class="form-label">Marka</label>
                <input type="text" class="form-control" id="typeBrand" disabled [value]="gpuInfo.brand">
              </div> 
              <div class="mb-3">
                <label for="typeModel" class="form-label">Model</label>
                <input type="text" class="form-control" id="typeModel" disabled [value]="gpuInfo.model">
              </div> 
              <div class="mb-3">
                <label for="typeProducer" class="form-label">Üretici</label>
                <input type="text" class="form-control" id="typeProducer" disabled [value]="gpuInfo.producer">
              </div> 
              <div class="mb-3">
                <label for="typeSeries" class="form-label">Seri</label>
                <input type="text" class="form-control" id="typeSeries" disabled [value]="gpuInfo.series">
              </div>  
              <div class="mb-3">
                <label for="typeVram" class="form-label">Grafik Belleği</label>
                <input type="text" class="form-control" id="typeVram" disabled [value]="gpuInfo.vram">
              </div>  
              <div class="mb-3">
                <label for="typeMemoryInterface" class="form-label">Bellek Arayüzü</label>
                <input type="text" class="form-control" id="typeMemoryInterface" disabled [value]="gpuInfo.memoryInterface">
              </div>
            </form>            
            
          } @else if (selectedGlobalType === 'cpu') {
            <form>
              <div class="mb-3">
                <label for="cpuBrand" class="form-label">Marka</label>
                <input type="text" class="form-control" id="cpuBrand" disabled [value]="cpuInfo.brand">
              </div>
              <div class="mb-3">
                <label for="cpuClockSpeed" class="form-label">Clock Hızı</label>
                <input type="text" class="form-control" id="cpuClockSpeed" disabled [value]="cpuInfo.clockSpeed">
              </div>
              <div class="mb-3">
                <label for="cpuSocketType" class="form-label">Soket Tipi</label>
                <input type="text" class="form-control" id="cpuSocketType" disabled [value]="cpuInfo.socketType">
              </div>
              <div class="mb-3">
                <label for="cpuGeneration" class="form-label">Nesil</label>
                <input type="text" class="form-control" id="cpuGeneration" disabled [value]="cpuInfo.generation">
              </div>
              <div class="mb-3">
                <label for="cpuSeries" class="form-label">Seri</label>
                <input type="text" class="form-control" id="cpuSeries" disabled [value]="cpuInfo.series">
              </div>
              <div class="mb-3">
                <label for="cpuCoreCount" class="form-label">Çekirdek Sayısı</label>
                <input type="text" class="form-control" id="cpuCoreCount" disabled [value]="cpuInfo.coreCount">
              </div>
              <div class="mb-3">
                <label for="cpuModel" class="form-label">Model</label>
                <input type="text" class="form-control" id="cpuModel" disabled [value]="cpuInfo.model">
              </div>
            </form>            
          } @else if (selectedGlobalType === 'psu') {
            <form>
              <div class="mb-3">
                <label for="psuWatt" class="form-label">Watt</label>
                <input type="text" class="form-control" id="psuWatt" disabled [value]="psuInfo.watt">
              </div>
              <div class="mb-3">
                <label for="psuEfficiency" class="form-label">Verimlilik</label>
                <input type="text" class="form-control" id="psuEfficiency" disabled [value]="psuInfo.efficiency">
              </div>
              <div class="mb-3">
                <label for="psuModular" class="form-label">Modüler</label>
                <input type="text" class="form-control" id="psuModular" disabled [value]="psuInfo.modular">
              </div>
              <div class="mb-3">
                <label for="psuType" class="form-label">Tip</label>
                <input type="text" class="form-control" id="psuType" disabled [value]="psuInfo.type">
              </div>
              <div class="mb-3">
                <label for="psuPcieGen5Support" class="form-label">PCIe Gen5 Desteği</label>
                <input type="text" class="form-control" id="psuPcieGen5Support" disabled [value]="psuInfo.pcieGen5Support">
              </div>
              <div class="mb-3">
                <label for="psuBrand" class="form-label">Marka</label>
                <input type="text" class="form-control" id="psuBrand" disabled [value]="psuInfo.brand">
              </div>
              <div class="mb-3">
                <label for="psuModel" class="form-label">Model</label>
                <input type="text" class="form-control" id="psuModel" disabled [value]="psuInfo.model">
              </div>
            </form>           
          } @else if (selectedGlobalType === 'ram') {
            <form>
              <div class="mb-3">
                <label for="ramType" class="form-label">RAM Türü</label>
                <input type="text" class="form-control" id="ramType" disabled [value]="ramInfo.type">
              </div>
              <div class="mb-3">
                <label for="ramSize" class="form-label">Boyut</label>
                <input type="text" class="form-control" id="ramSize" disabled [value]="ramInfo.capacity">
              </div>
              <div class="mb-3">
                <label for="ramFrequency" class="form-label">Frekans Hızı</label>
                <input type="text" class="form-control" id="ramFrequency" disabled [value]="ramInfo.frequencySpeed">
              </div>
              <div class="mb-3">
                <label for="ramChannelType" class="form-label">Tek Yada Çift Kanal</label>
                <input type="text" class="form-control" id="ramChannelType" disabled [value]="ramInfo.channelType">
              </div>
              <div class="mb-3">
                <label for="ramCompatibility" class="form-label">RAM Uyumluluğu</label>
                <input type="text" class="form-control" id="ramCompatibility" disabled [value]="ramInfo.compatibility">
              </div>
              <div class="mb-3">
                <label for="ramBrand" class="form-label">Brand</label>
                <input type="text" class="form-control" id="ramBrand" disabled [value]="ramInfo.brand">
              </div>
              <div class="mb-3">
                <label for="ramModel" class="form-label">Model</label>
                <input type="text" class="form-control" id="ramModel" disabled [value]="ramInfo.model">
              </div>
            </form>            

          } @else if (selectedGlobalType === 'motherboard') {
            <form>
              <div class="mb-3">
                <label for="mbCpuSocketType" class="form-label">CPU Soket Tipi</label>
                <input type="text" class="form-control" id="mbCpuSocketType" disabled [value]="motherboardInfo.cpuSocketType">
              </div>
              <div class="mb-3">
                <label for="mbCpuCompatibility" class="form-label">CPU Uyumluluğu</label>
                <input type="text" class="form-control" id="mbCpuCompatibility" disabled [value]="motherboardInfo.cpuCompatibility">
              </div>
              <div class="mb-3">
                <label for="mbRamType" class="form-label">RAM Türü</label>
                <input type="text" class="form-control" id="mbRamType" disabled [value]="motherboardInfo.ramType">
              </div>
              <div class="mb-3">
                <label for="mbSize" class="form-label">Boyut</label>
                <input type="text" class="form-control" id="mbSize" disabled [value]="motherboardInfo.size">
              </div>
              <div class="mb-3">
                <label for="mbRamSlots" class="form-label">RAM Yuvaları</label>
                <input type="text" class="form-control" id="mbRamSlots" disabled [value]="motherboardInfo.ramSlots">
              </div>
              <div class="mb-3">
                <label for="mbBrand" class="form-label">Marka</label>
                <input type="text" class="form-control" id="mbBrand" disabled [value]="motherboardInfo.brand">
              </div>
              <div class="mb-3">
                <label for="mbModel" class="form-label">Model</label>
                <input type="text" class="form-control" id="mbModel" disabled [value]="motherboardInfo.model">
              </div>
            </form>
            
          } @else if (selectedGlobalType === 'desktopCase') {
            <form>
              <div class="mb-3">
                <label for="desktopCaseBrand" class="form-label">Marka</label>
                <input type="text" class="form-control" id="desktopCaseBrand" disabled [value]="desktopCaseInfo.brand">
              </div>
              <div class="mb-3">
                <label for="desktopCasePsu" class="form-label">PSU</label>
                <input type="text" class="form-control" id="desktopCasePsu" disabled [value]="desktopCaseInfo.psu ? 'Evet' : 'Hayır'">
              </div>
              <div class="mb-3">
                <label for="desktopCasePsuLocation" class="form-label">PSU Yeri</label>
                <input type="text" class="form-control" id="desktopCasePsuLocation" disabled [value]="desktopCaseInfo.psuLocation">
              </div>
              <div class="mb-3">
                <label for="desktopCaseTransparent" class="form-label">Şeffaflık</label>
                <input type="text" class="form-control" id="desktopCaseTransparent" disabled [value]="desktopCaseInfo.transparent ? 'Evet' : 'Hayır'">
              </div>
              <div class="mb-3">
                <label for="desktopCasePsuWatt" class="form-label">PSU Watt</label>
                <input type="text" class="form-control" id="desktopCasePsuWatt" disabled [value]="desktopCaseInfo.psuWatt">
              </div>
              <div class="mb-3">
                <label for="desktopCaseModel" class="form-label">Model</label>
                <input type="text" class="form-control" id="desktopCaseModel" disabled [value]="desktopCaseInfo.model">
              </div>
              <div class="mb-3">
                <label for="desktopCaseType" class="form-label">Tip</label>
                <input type="text" class="form-control" id="desktopCaseType" disabled [value]="desktopCaseInfo.type">
              </div>
            </form>            

          } @else if (selectedGlobalType === 'cpuCooler') {
            <form>
              <div class="mb-3">
                <label for="cpuCoolerBrand" class="form-label">Marka</label>
                <input type="text" class="form-control" id="cpuCoolerBrand" disabled [value]="cpuCoolerInfo.brand">
              </div>
              <div class="mb-3">
                <label for="cpuCoolerModel" class="form-label">Model</label>
                <input type="text" class="form-control" id="cpuCoolerModel" disabled [value]="cpuCoolerInfo.model">
              </div>
              <div class="mb-3">
                <label for="cpuCoolerFanLength" class="form-label">Fan Uzunluğu</label>
                <input type="text" class="form-control" id="cpuCoolerFanLength" disabled [value]="cpuCoolerInfo.fanLength">
              </div>
              <div class="mb-3">
                <label for="cpuCoolerLED" class="form-label">LED</label>
                <input type="text" class="form-control" id="cpuCoolerLED" disabled [value]="cpuCoolerInfo.led">
              </div>
              <div class="mb-3">
                <label for="cpuCoolerRPM" class="form-label">RPM</label>
                <input type="text" class="form-control" id="cpuCoolerRPM" disabled [value]="cpuCoolerInfo.rpm">
              </div>
              <div class="mb-3">
                <label for="cpuCoolerMaterial" class="form-label">Malzeme</label>
                <input type="text" class="form-control" id="cpuCoolerMaterial" disabled [value]="cpuCoolerInfo.material">
              </div>
              <div class="mb-3">
                <label for="cpuCoolerType" class="form-label">Tip</label>
                <input type="text" class="form-control" id="cpuCoolerType" disabled [value]="cpuCoolerInfo.type">
              </div>
            </form>
          }
          
          
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>        
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalToggleLabel">Ürün Ekle</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Stok bilgilerini düzenleme formu -->
        <form>
          <div class="mb-3">
            <label for="type" class="form-label">İşlem Tipi</label>
            <select class="form-control" id="type" (change)="onProcessChange($event)">
              <option value="" selected>Seçiniz...</option>
              <option *ngFor="let processOption of processOptions" value="{{processOption.value}}">{{processOption.label}}</option>
            </select>
          </div>
          
          <div *ngIf="selectedProcess === 'Add Product'">
            <div class="mb-3">
              <label for="type" class="form-label">Ürün Tipi</label>
              <select class="form-control" id="type" (change)="onTypeChange($event)">
                <option value="" selected>Seçiniz...</option>
                <option *ngFor="let typeOption of componentTypeOptions" value="{{typeOption.value}}">{{typeOption.label}}</option>
              </select>
            </div>
          </div>

          <div *ngIf="selectedProcess === 'Decrease Quantity'">
            <div class="mb-3">
              <label for="type" class="form-label">Naber</label>
            </div>
          </div>

          <!-- CPU tipi seçildiğinde görüntülenecek içerik -->
          <div *ngIf="selectedType === 'CPU'">
            <form [formGroup]="cpuForm">
              <div class="mb-3">
                <label for="cpuBrand" class="form-label">Brand</label>
                <select class="form-control" id="cpuBrand" formControlName="brand">     
                  <option value="" selected>Seçiniz...</option>                           
                  <option value="AMD">AMD</option>
                  <option value="INTEL">INTEL</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="cpuClockSpeed" class="form-label">Clock Speed (GHz)</label>
                <input type="number" class="form-control" id="cpuClockSpeed" step="0.01" formControlName="clockSpeed">
              </div>
              <div class="mb-3">
                <label for="cpuSocketType" class="form-label">Socket Type</label>
                <input type="text" class="form-control" id="cpuSocketType" formControlName="socketType">
              </div>
              <div class="mb-3">
                <label for="cpuGeneration" class="form-label">Generation</label>
                <input type="text" class="form-control" id="cpuGeneration" formControlName="generation">
              </div>
              <div class="mb-3">
                <label for="cpuSeries" class="form-label">Series</label>
                <input type="text" class="form-control" id="cpuSeries" formControlName="series">
              </div>
              <div class="mb-3">
                <label for="cpuCoreCount" class="form-label">Core Count</label>
                <input type="text" class="form-control" id="cpuCoreCount" formControlName="coreCount">
              </div>
              <div class="mb-3">
                <label for="cpuModel" class="form-label">Model</label>
                <input type="text" class="form-control" id="cpuModel" formControlName="model">
              </div>
              <div class="mb-3">
                <label for="cpuQuantity" class="form-label">Quantity</label>
                <input type="number" class="form-control" id="cpuQuantity" formControlName="quantity">
              </div>
            </form>          
          </div>         
            <!-- GPU tipi seçildiğinde görüntülenecek içerik -->
            <div *ngIf="selectedType === 'GPU'">
              <form [formGroup]="gpuForm">
                <div class="mb-3">
                  <label for="gpuBrand" class="form-label">Brand</label>
                  <input type="text" class="form-control" id="gpuBrand" formControlName="brand">
                </div>
                <div class="mb-3">
                  <label for="gpuProducer" class="form-label">GPU Producer</label>
                  <input type="text" class="form-control" id="gpuProducer" formControlName="producer">
                </div>
                <div class="mb-3">
                  <label for="gpuSeries" class="form-label">Series</label>
                  <input type="text" class="form-control" id="gpuSeries" formControlName="series">
                </div>
                <div class="mb-3">
                  <label for="gpuModel" class="form-label">Model</label>
                  <input type="text" class="form-control" id="gpuModel" formControlName="model">
                </div>
                <div class="mb-3">
                  <label for="gpuVram" class="form-label">VRAM</label>
                  <input type="number" class="form-control" id="gpuVram" formControlName="vram">
                </div>
                <div class="mb-3">
                  <label for="gpuMemoryInterface" class="form-label">Memory Interface</label>
                  <input type="number" class="form-control" id="gpuVram" formControlName="memoryInterface">
                </div>
                <div class="mb-3">
                  <label for="gpuQuantity" class="form-label">Quantity</label>
                  <input type="number" class="form-control" id="gpuQuantity" min="1" formControlName="quantity">
                </div>
              </form>              
            </div>          

          <!-- RAM tipi seçildiğinde görüntülenecek içerik -->
          <div *ngIf="selectedType === 'RAM'">
            <form [formGroup]="ramForm">
              <div class="mb-3">
                <label for="quantity" class="form-label">Brand</label>
                <input type="text" class="form-control" id="ramBrand" aria-label="Number value for quantity" formControlName="brand">
              </div>
  
              <div class="mb-3">
                <label for="ramType" class="form-label">RAM Type</label>
                <input type="text" class="form-control" id="ramType" formControlName="type">
              </div>
  
              <div class="mb-3">
                <label for="ramCapacity" class="form-label">RAM Capacity</label>
                <input type="text" class="form-control" id="ramType" formControlName="capacity">
              </div>
  
              <div class="mb-3">
                <label for="ramFrequency" class="form-label">Frequency Speed</label>
                <input type="number" class="form-control" id="ramFrequency" aria-label="Number value for quantity" min="1" formControlName="frequencySpeed">
              </div>
                    
              
              <div class="mb-3">
                <label for="ramModel" class="form-label">Model</label>
                <input type="text" class="form-control" id="ramModel" aria-label="Number value for quantity" min="1" formControlName="model">
              </div>   
              
              <div class="mb-3">
                <label for="ramCapacity" class="form-label">Channel Type</label>
                <select class="form-control" id="ramCapacity" formControlName="channelType">                
                  <option value="" selected>Seçiniz...</option>
                  <option value="singleChannel">Single Channel</option>
                  <option value="dualChannel">Dual Channel</option>                
                </select>
              </div>
  
              <div class="mb-3">
                <label for="ramCompatibility" class="form-label">Compatibility</label>
                <select class="form-control" id="ramCompatibility" formControlName="compatibility">                
                  <option value="" selected>Seçiniz...</option>
                  <option value="desktopRam">Desktop Ram</option>
                  <option value="notebookRam">Notebook Ram</option>                
                </select>
              </div>
  
              <div class="mb-3">
                <label for="quantity" class="form-label">Quantity</label>
                <input type="number" class="form-control" id="ramQuantity" aria-label="Number value for quantity" min="1" formControlName="quantity">
              </div>  
            </form>
            
          </div>

          <!-- PSU tipi seçildiğinde görüntülenecek içerik -->
          <div *ngIf="selectedType === 'PSU'">
            <form [formGroup]="psuForm">
              <div class="mb-3">
                <label for="psuWatt" class="form-label">Watt</label>
                <input type="number" class="form-control" id="psuWatt" formControlName="watt">
              </div>
              <div class="mb-3">
                <label for="psuEfficiency" class="form-label">Efficiency</label>
                <input type="text" class="form-control" id="psuEfficiency" formControlName="efficiency">
              </div>
              <div class="mb-3">
                <label class="form-check-label" for="psuModular">Modüler</label>
                <input class="form-check-input" type="checkbox" id="psuModular" formControlName="modular">                
              </div>
              <div class="mb-3">
                <label for="psuType" class="form-label">Type</label>
                <input type="text" class="form-control" id="psuType" formControlName="type">
              </div>
              <div class="mb-3">
                <label class="form-check-label" for="pcieGen5Support">PCIe Gen 5 Desteği</label>
                <input class="form-check-input" type="checkbox" id="pcieGen5Support" value="true" formControlName="pcieGen5Support">                
              </div>
              <div class="mb-3">
                <label for="psuBrand" class="form-label">Brand</label>
                <input type="text" class="form-control" id="psuBrand" formControlName="brand">
              </div>
              <div class="mb-3">
                <label for="psuModel" class="form-label">Model</label>
                <input type="text" class="form-control" id="psuModel" formControlName="model">
              </div>
              <div class="mb-3">
                <label for="psuQuantity" class="form-label">Quantity</label>
                <input type="number" class="form-control" id="psuQuantity" min="1" formControlName="quantity">
              </div>
            </form>
            
          </div>
          <!-- Anakart tipi seçildiğinde görüntülenecek içerik -->
          <div *ngIf="selectedType === 'Motherboard'">
            <form [formGroup]="motherboardForm">
              <div class="mb-3">
                <label for="motherboardBrand" class="form-label">Brand</label>              
                <input type="text" class="form-control" id="motherboardBrand" formControlName="brand">
              </div>
              <div class="mb-3">
                <label for="motherboardCpuCompatibility" class="form-label">CPU Compatibility</label>
                <select class="form-control" id="motherboardCpuCompatibility" formControlName="cpuCompatibility">
                  <option value="" selected>Seçiniz...</option>
                  <option value="AMD">AMD Uyumlu</option>
                  <option value="INTEL">INTEL Uyumlu</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="motherboardCpuSocketType" class="form-label">CPU Socket Type</label>
                <input type="text" class="form-control" id="motherboardCpuSocketType" formControlName="cpuSocketType">
              </div>
              <div class="mb-3">
                <label for="motherboardRamType" class="form-label">RAM Type</label>
                <input type="text" class="form-control" id="motherboardRamType" formControlName="ramType">
              </div>
              <div class="mb-3">
                <label for="motherboardSize" class="form-label">Size</label>
                <input type="text" class="form-control" id="motherboardSize" formControlName="size">
              </div>
              <div class="mb-3">
                <label for="motherboardRamSlots" class="form-label">RAM Slots</label>
                <input type="quantity" class="form-control" id="motherboardRamSlots" min="2" formControlName="ramSlots">
              </div>
  
              <div class="mb-3">
                <label for="motherboardModel" class="form-label">Model</label>
                <input type="text" class="form-control" id="motherboardModel" formControlName="model">
              </div>
              <div class="mb-3">
                <label for="motherboardQuantity" class="form-label">Quantity</label>
                <input type="number" class="form-control" id="motherboardQuantity" min="1" formControlName="quantity">
              </div>
            </form>
            
          </div>

          <!-- İşlemci soğutucusu tipi seçildiğinde görüntülenecek içerik
          BURAYA UYUMLU SOKETLER EKLENMESİ LAZIM  -->
          <div *ngIf="selectedType === 'CPU Cooler'">
            <form [formGroup]="cpuCoolerForm">
              <div class="mb-3">
                <label for="cpuCoolerType" class="form-label">Type</label>
                <select class="form-control" id="cpuCoolerType" formControlName="type">
                  <option value="" selected>Seçiniz...</option>
                  <option value="Hava Soğutma">Hava Soğutma</option>
                  <option value="Sıvı Soğutma">Sıvı Soğutma</option>   
                </select>
              </div>
              <div class="mb-3">
                <label for="cpuCoolerFanLength" class="form-label">Fan Length</label>
                <input type="text" class="form-control" id="cpuCoolerFanLength" formControlName="fanLength">
              </div>
              <div class="mb-3">
                <label for="cpuCoolerRPM" class="form-label">RPM</label>
                <input type="number" class="form-control" id="cpuCoolerRPM" formControlName="rpm">
              </div>
              <div class="mb-3">
                <label for="cpuCoolerMaterial" class="form-label">Material</label>
                <input type="text" class="form-control" id="cpuCoolerMaterial" formControlName="material">
              </div>
              <div class="mb-3">
                <label for="cpuCoolerLED"class="form-label">LED</label>
                <input type="text" class="form-control" id="cpuCoolerLED" formControlName="led">
              
              </div>
              <div class="mb-3">
                <label for="cpuCoolerBrand" class="form-label">Brand</label>
                <input type="text" class="form-control" id="cpuCoolerBrand" formControlName="brand">
              </div>
              <div class="mb-3">
                <label for="cpuCoolerModel" class="form-label">Model</label>
                <input type="text" class="form-control" id="cpuCoolerModel" formControlName="model">
              </div>
              <div class="mb-3">
                <label for="cpuCoolerQuantity" class="form-label">Quantity</label>
                <input type="number" class="form-control" id="cpuCoolerQuantity" aria-label="Number value for quantity" min="1" formControlName="quantity">
              </div>
            </form>
            
          </div>

          <!-- Bilgisayar kasası tipi seçildiğinde görüntülenecek içerik -->
          <div *ngIf="selectedType === 'Computer Case'">
            <form [formGroup]="desktopCaseForm">
              <div class="mb-3">
                <label for="caseBrand" class="form-label">Brand</label>
                <input type="text" class="form-control" id="caseBrand" formControlName="brand">
              </div>
              <div class="mb-3">
                <label for="caseModel" class="form-label">Model</label>
                <input type="text" class="form-control" id="caseModel" formControlName="model">
              </div>
              <div class="mb-3">
                <label for="caseType" class="form-label">Type</label>
                <select class="form-control" id="caseType" formControlName="type">
                  <option value="" selected>Seçiniz...</option>
                  <option value="ATX Full Tower">ATX Full Tower</option>
                  <option value="ATX Mid Tower">ATX Mid Tower</option>
                  <option value="MicroATX">MicroATX</option>  
                  <option value="Mini-ITX">Mini-ITX</option>  
                </select>
              </div>
              <div class="mb-3">
                <label for="casePSU" class="form-label">PSU</label>
                <select class="form-control" id="caseTransparent" formControlName="psu">
                  <option value="" selected>Seçiniz...</option>
                  <option value="VAR">VAR</option>  
                  <option value="YOK">YOK</option>  
                </select>
              </div>
              <div class="mb-3">
                <label for="casePSULocation" class="form-label">PSU Location</label>
                <select class="form-control" id="caseType" formControlName="psuLocation">
                  <option value="" selected>Seçiniz...</option>
                  <option value="Aşağıda">Aşağıda</option>
                  <option value="Yukarıda">Yukarıda</option>
                  <option value="Gizli Yan Panel">Gizli Yan Panel</option>  
                </select>
              </div>
              <div class="mb-3">
              <label for="caseTransparent" class="form-label">Şeffaf Kasa</label>
                <select class="form-control" id="caseTransparent" formControlName="transparent">
                  <option value="" selected>Seçiniz...</option>
                  <option value="EVET">EVET</option>  
                  <option value="HAYIR">HAYIR</option>  
                </select>
              </div>
              <div class="mb-3">
                <label for="casePSUWatt" class="form-label">PSU Watt</label>
                <input type="number" class="form-control" id="casePSUWatt" min="100" formControlName="psuWatt">
              </div>
              <div class="mb-3">
                <label for="caseQuantity" class="form-label">Quantity</label>
                <input type="number" class="form-control" id="caseQuantity" aria-label="Number value for quantity" min="1" formControlName="quantity">
              </div>
            </form>
            
          </div>                    
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
        <button type="button" class="btn btn-primary" (click)="addProductAndStock()">Kaydet</button>
      </div>
    </div>
  </div>
</div>


<!-- Stok Silme Modal -->
<div class="modal fade" id="stockRemoveModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalToggleLabel">Stok Ürününü Sil</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="text-center">Bu işlemi gerçekleştirmek istediğinizden emin misiniz?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Vazgeç</button>
        <button type="button" class="btn btn-danger" (click)="removeStock()">Sil</button>
      </div>
    </div>
  </div>
</div>



<!-- Edit Modal -->
<div class="modal fade" id="editModalToggle" aria-hidden="true" aria-labelledby="editModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalToggleLabel">Ürün Bilgileri</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Stok bilgilerini düzenleme formu -->
        <form>
          <div class="mb-3">
            <label for="stockId" class="form-label">Ürünün Stok ID</label>
            <input type="text" class="form-control" id="stockId" [value]="selectedStock?.id" disabled>
          </div>
          <div class="mb-3">
            <label for="type" class="form-label">Hangi Parça</label>
            <input type="text" class="form-control" id="type" [value]="selectedStock?.type" disabled>
          </div>
          <div class="mb-3">
            <label for="quantity" class="form-label">Ürün Sayısı</label>
            <input type="number" class="form-control" id="quantity" aria-label="Number value for quantity" [value]="selectedStock?.quantity" disabled>
          </div>        
          @if (selectedGlobalType === 'gpu') {
            <form>
              <div class="mb-3">
                <label for="typeBrand" class="form-label">Marka</label>
                <input type="text" class="form-control" id="typeBrand" [disabled]="!canEditComputerComponent()" [value]="gpuInfo.brand">
              </div> 
              <div class="mb-3">
                <label for="typeModel" class="form-label">Model</label>
                <input type="text" class="form-control" id="typeModel" [disabled]="!canEditComputerComponent()" [value]="gpuInfo.model">
              </div> 
              <div class="mb-3">
                <label for="typeProducer" class="form-label">Üretici</label>
                <input type="text" class="form-control" id="typeProducer" [disabled]="!canEditComputerComponent()" [value]="gpuInfo.producer">
              </div> 
              <div class="mb-3">
                <label for="typeSeries" class="form-label">Seri</label>
                <input type="text" class="form-control" id="typeSeries" [disabled]="!canEditComputerComponent()" [value]="gpuInfo.series">
              </div>  
              <div class="mb-3">
                <label for="typeVram" class="form-label">Grafik Belleği</label>
                <input type="text" class="form-control" id="typeVram" [disabled]="!canEditComputerComponent()" [value]="gpuInfo.vram">
              </div>  
              <div class="mb-3">
                <label for="typeMemoryInterface" class="form-label">Bellek Arayüzü</label>
                <input type="text" class="form-control" id="typeMemoryInterface" [disabled]="!canEditComputerComponent()" [value]="gpuInfo.memoryInterface">
              </div>
            </form>  
                      
            
          } @else if (selectedGlobalType === 'cpu') {
            <form>
              <div class="mb-3">
                <label for="cpuBrand" class="form-label">Marka</label>
                <input type="text" class="form-control" id="cpuBrand" disabled [value]="cpuInfo.brand">
              </div>
              <div class="mb-3">
                <label for="cpuClockSpeed" class="form-label">Clock Hızı</label>
                <input type="text" class="form-control" id="cpuClockSpeed" disabled [value]="cpuInfo.clockSpeed">
              </div>
              <div class="mb-3">
                <label for="cpuSocketType" class="form-label">Soket Tipi</label>
                <input type="text" class="form-control" id="cpuSocketType" disabled [value]="cpuInfo.socketType">
              </div>
              <div class="mb-3">
                <label for="cpuGeneration" class="form-label">Nesil</label>
                <input type="text" class="form-control" id="cpuGeneration" disabled [value]="cpuInfo.generation">
              </div>
              <div class="mb-3">
                <label for="cpuSeries" class="form-label">Seri</label>
                <input type="text" class="form-control" id="cpuSeries" disabled [value]="cpuInfo.series">
              </div>
              <div class="mb-3">
                <label for="cpuCoreCount" class="form-label">Çekirdek Sayısı</label>
                <input type="text" class="form-control" id="cpuCoreCount" disabled [value]="cpuInfo.coreCount">
              </div>
              <div class="mb-3">
                <label for="cpuModel" class="form-label">Model</label>
                <input type="text" class="form-control" id="cpuModel" disabled [value]="cpuInfo.model">
              </div>
            </form>            
          } @else if (selectedGlobalType === 'psu') {
            <form>
              <div class="mb-3">
                <label for="psuWatt" class="form-label">Watt</label>
                <input type="text" class="form-control" id="psuWatt" disabled [value]="psuInfo.watt">
              </div>
              <div class="mb-3">
                <label for="psuEfficiency" class="form-label">Verimlilik</label>
                <input type="text" class="form-control" id="psuEfficiency" disabled [value]="psuInfo.efficiency">
              </div>
              <div class="mb-3">
                <label for="psuModular" class="form-label">Modüler</label>
                <input type="text" class="form-control" id="psuModular" disabled [value]="psuInfo.modular">
              </div>
              <div class="mb-3">
                <label for="psuType" class="form-label">Tip</label>
                <input type="text" class="form-control" id="psuType" disabled [value]="psuInfo.type">
              </div>
              <div class="mb-3">
                <label for="psuPcieGen5Support" class="form-label">PCIe Gen5 Desteği</label>
                <input type="text" class="form-control" id="psuPcieGen5Support" disabled [value]="psuInfo.pcieGen5Support">
              </div>
              <div class="mb-3">
                <label for="psuBrand" class="form-label">Marka</label>
                <input type="text" class="form-control" id="psuBrand" disabled [value]="psuInfo.brand">
              </div>
              <div class="mb-3">
                <label for="psuModel" class="form-label">Model</label>
                <input type="text" class="form-control" id="psuModel" disabled [value]="psuInfo.model">
              </div>
            </form>           
          } @else if (selectedGlobalType === 'ram') {
            <form>
              <div class="mb-3">
                <label for="ramType" class="form-label">RAM Türü</label>
                <input type="text" class="form-control" id="ramType" disabled [value]="ramInfo.type">
              </div>
              <div class="mb-3">
                <label for="ramSize" class="form-label">Boyut</label>
                <input type="text" class="form-control" id="ramSize" disabled [value]="ramInfo.capacity">
              </div>
              <div class="mb-3">
                <label for="ramFrequency" class="form-label">Frekans Hızı</label>
                <input type="text" class="form-control" id="ramFrequency" disabled [value]="ramInfo.frequencySpeed">
              </div>
              <div class="mb-3">
                <label for="ramChannelType" class="form-label">Tek Yada Çift Kanal</label>
                <input type="text" class="form-control" id="ramChannelType" disabled [value]="ramInfo.channelType">
              </div>
              <div class="mb-3">
                <label for="ramCompatibility" class="form-label">RAM Uyumluluğu</label>
                <input type="text" class="form-control" id="ramCompatibility" disabled [value]="ramInfo.compatibility">
              </div>
              <div class="mb-3">
                <label for="ramBrand" class="form-label">Brand</label>
                <input type="text" class="form-control" id="ramBrand" disabled [value]="ramInfo.brand">
              </div>
              <div class="mb-3">
                <label for="ramModel" class="form-label">Model</label>
                <input type="text" class="form-control" id="ramModel" disabled [value]="ramInfo.model">
              </div>
            </form>            

          } @else if (selectedGlobalType === 'motherboard') {
            <form>
              <div class="mb-3">
                <label for="mbCpuSocketType" class="form-label">CPU Soket Tipi</label>
                <input type="text" class="form-control" id="mbCpuSocketType" disabled [value]="motherboardInfo.cpuSocketType">
              </div>
              <div class="mb-3">
                <label for="mbCpuCompatibility" class="form-label">CPU Uyumluluğu</label>
                <input type="text" class="form-control" id="mbCpuCompatibility" disabled [value]="motherboardInfo.cpuCompatibility">
              </div>
              <div class="mb-3">
                <label for="mbRamType" class="form-label">RAM Türü</label>
                <input type="text" class="form-control" id="mbRamType" disabled [value]="motherboardInfo.ramType">
              </div>
              <div class="mb-3">
                <label for="mbSize" class="form-label">Boyut</label>
                <input type="text" class="form-control" id="mbSize" disabled [value]="motherboardInfo.size">
              </div>
              <div class="mb-3">
                <label for="mbRamSlots" class="form-label">RAM Yuvaları</label>
                <input type="text" class="form-control" id="mbRamSlots" disabled [value]="motherboardInfo.ramSlots">
              </div>
              <div class="mb-3">
                <label for="mbBrand" class="form-label">Marka</label>
                <input type="text" class="form-control" id="mbBrand" disabled [value]="motherboardInfo.brand">
              </div>
              <div class="mb-3">
                <label for="mbModel" class="form-label">Model</label>
                <input type="text" class="form-control" id="mbModel" disabled [value]="motherboardInfo.model">
              </div>
            </form>
            
          } @else if (selectedGlobalType === 'desktopCase') {
            <form>
              <div class="mb-3">
                <label for="desktopCaseBrand" class="form-label">Marka</label>
                <input type="text" class="form-control" id="desktopCaseBrand" disabled [value]="desktopCaseInfo.brand">
              </div>
              <div class="mb-3">
                <label for="desktopCasePsu" class="form-label">PSU</label>
                <input type="text" class="form-control" id="desktopCasePsu" disabled [value]="desktopCaseInfo.psu ? 'Evet' : 'Hayır'">
              </div>
              <div class="mb-3">
                <label for="desktopCasePsuLocation" class="form-label">PSU Yeri</label>
                <input type="text" class="form-control" id="desktopCasePsuLocation" disabled [value]="desktopCaseInfo.psuLocation">
              </div>
              <div class="mb-3">
                <label for="desktopCaseTransparent" class="form-label">Şeffaflık</label>
                <input type="text" class="form-control" id="desktopCaseTransparent" disabled [value]="desktopCaseInfo.transparent ? 'Evet' : 'Hayır'">
              </div>
              <div class="mb-3">
                <label for="desktopCasePsuWatt" class="form-label">PSU Watt</label>
                <input type="text" class="form-control" id="desktopCasePsuWatt" disabled [value]="desktopCaseInfo.psuWatt">
              </div>
              <div class="mb-3">
                <label for="desktopCaseModel" class="form-label">Model</label>
                <input type="text" class="form-control" id="desktopCaseModel" disabled [value]="desktopCaseInfo.model">
              </div>
              <div class="mb-3">
                <label for="desktopCaseType" class="form-label">Tip</label>
                <input type="text" class="form-control" id="desktopCaseType" disabled [value]="desktopCaseInfo.type">
              </div>
            </form>            

          } @else if (selectedGlobalType === 'cpuCooler') {
            <form>
              <div class="mb-3">
                <label for="cpuCoolerBrand" class="form-label">Marka</label>
                <input type="text" class="form-control" id="cpuCoolerBrand" disabled [value]="cpuCoolerInfo.brand">
              </div>
              <div class="mb-3">
                <label for="cpuCoolerModel" class="form-label">Model</label>
                <input type="text" class="form-control" id="cpuCoolerModel" disabled [value]="cpuCoolerInfo.model">
              </div>
              <div class="mb-3">
                <label for="cpuCoolerFanLength" class="form-label">Fan Uzunluğu</label>
                <input type="text" class="form-control" id="cpuCoolerFanLength" disabled [value]="cpuCoolerInfo.fanLength">
              </div>
              <div class="mb-3">
                <label for="cpuCoolerLED" class="form-label">LED</label>
                <input type="text" class="form-control" id="cpuCoolerLED" disabled [value]="cpuCoolerInfo.led">
              </div>
              <div class="mb-3">
                <label for="cpuCoolerRPM" class="form-label">RPM</label>
                <input type="text" class="form-control" id="cpuCoolerRPM" disabled [value]="cpuCoolerInfo.rpm">
              </div>
              <div class="mb-3">
                <label for="cpuCoolerMaterial" class="form-label">Malzeme</label>
                <input type="text" class="form-control" id="cpuCoolerMaterial" disabled [value]="cpuCoolerInfo.material">
              </div>
              <div class="mb-3">
                <label for="cpuCoolerType" class="form-label">Tip</label>
                <input type="text" class="form-control" id="cpuCoolerType" disabled [value]="cpuCoolerInfo.type">
              </div>
            </form>
          }
          
          
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>     
        <button type="button" class="btn btn-primary" (click)="editProductAndStock()">Kaydet</button>   
      </div>
    </div>
  </div>
</div>
