<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <div class="page-header header-filter noneFilter"></div>
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
        <!-- <i class="bi bi-person icon iconSettings active"></i> -->
      <!-- Icon -->
      <div class="fadeIn first">
        <h2 class="active"> GİRİŞ YAP </h2>
      </div>
  
      <!-- Login Form -->
      <form id="login-form" [formGroup]="loginForm" (ngSubmit)="submit()">
        <input type="text" id="email" class="fadeIn second" name="email" placeholder="e-posta" formControlName="email">
        <input type="password" id="password" class="fadeIn third" name="password" placeholder="şifre" formControlName="password">
        <input type="submit" class="fadeIn fourth" value="GİRİŞ">
      </form>
          
    </div>
  </div>

</body>
</html>   