
<div class="container">
  <div class="containerComponent">        
    <div class="header"><b>Çalışan</b></div>
    <div></div>
    <div><button type="button" class="btn btn-primary addEmployee" data-bs-toggle="modal" data-bs-target="#exampleModalToggle">Kullanıcı Paneli</button></div>  
  </div>
    <div class="containerComponent">
        <div class="containerInfo">İsim</div>        
        <div class="containerInfo">Soyisim</div>
        <div class="containerInfo">Email</div>
        <div class="containerInfo">Rol</div>
        <div class="containerInfo">Sil</div>
    </div>
    <div *ngFor="let employee of employees; let i = index" class="containerComponent" (click)="selectEmployee(i)">
      <div class="employeeDataDiv">{{ employee.name }}</div>
      <div class="employeeDataDiv">{{ employee.surname }}</div>
      <div class="employeeDataDiv">{{ employee.email }}</div>
      <div class="employeeDataDiv">{{ employee.role }}</div>                         
      <div class="grid-container">
        @if (isAdmin(employee.name, employee.surname)) {          
          <div class="grid-item"><i class="bi bi-trash3" data-bs-toggle="modal" data-bs-target="#employeeRemoveModalToggle"></i></div>                     
        }
          
      </div> 
  </div>
      
</div>

<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalToggleLabel">Kullanıcı Paneli</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Kullanıcı bilgilerini düzenleme formu -->
        <form [formGroup]="personForm">
          <div class="mb-3">
            <label for="type" class="form-label">İşlem Tipi</label>
            <select class="form-control" id="type" (change)="onTypeChange($event)">
              <option value="" selected>Seçiniz...</option>
              <option *ngFor="let typeOption of typeOptions" value="{{typeOption.value}}">{{typeOption.label}}</option>
            </select>
          </div>
          
          
          <!-- Kullanıcı eklemek istendiğinde görüntülenecek içerik -->
          <div *ngIf="selectedType === 'addUser'">            
            <div class="mb-3">
              <label for="username" class="form-label">İsim</label>
              <input type="text" formControlName="name" class="form-control" id="username">
            </div>
            <div class="mb-3">
              <label for="userSurname" class="form-label">Soyisim</label>
              <input type="text" formControlName="surname" class="form-control" id="userSurname" min="1">
            </div>
            <div class="mb-3">
              <label for="userEmail" class="form-label">Email</label>
              <input type="text" formControlName="email" class="form-control" id="userEmail" min="1">
            </div>
            <div class="mb-3">
              <label for="userRole" class="form-label">Rol</label>
              <select class="form-control" formControlName="role"  id="userRole">     
                <option value="" selected>Seçiniz...</option>                
                <option value="rapor_kullanicisi">Rapor Kullanıcısı</option>
                <option value="depo_sorumlusu">Depo Sorumluusu</option>
              </select>
            </div>            
            <div class="mb-3">
              <label for="userPassword"  class="form-label">Şifre</label>
              <input type="text" class="form-control" formControlName="password" id="userPassword" min="1">
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
              <button type="button" class="btn btn-primary" (click)="saveUser()">Kaydet</button>
            </div>
          </div>  


          <div *ngIf="selectedType === 'changePassword'">            
            <div class="mb-3">
              <label for="userEmail" class="form-label">Kullanıcı Email</label>
              <input type="text" formControlName="changePasswordEmail" class="form-control" id="userEmail">
            </div>
            <div class="mb-3">
              <label for="userPassword" class="form-label">Yeni Şifre</label>
              <input type="text" formControlName="changePassword" class="form-control" id="userPassword">
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
              <button type="button" class="btn btn-primary" (click)="saveChangedPassword()">Kaydet</button>
            </div>
            
          </div>
          
          
        </form>
      </div>
     
    </div>
  </div>
</div>


<!-- Kullanıcı Silme Modal -->
<div class="modal fade" id="employeeRemoveModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalToggleLabel">Stok Ürününü Sil</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="text-center">Bu işlemi gerçekleştirmek istediğinizden emin misiniz?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
        <button type="button" class="btn btn-danger" (click)="removeEmployee()">Sil</button>
      </div>
    </div>
  </div>
</div>