<div class="navbar">
    <i class="bi bi-person icon"></i>
    <div class="userName" id="username">Eren Araz</div>
    <div class="notification dropdown dropdown-toggle" data-bs-toggle="dropdown">    
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow dropdownMenu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>                            
        </ul>       
    </div>
    
    
</div>