<div class="navbar">
    <div class="iconContainer">
        <i class="lni lni-user icon"></i>
    </div>
    <div class="userName" id="username">{{ username }} {{ surname }}</div>
    <!---<i class="bi bi-person icon"></i>
    
    <div class="notification dropdown dropdown-toggle" data-bs-toggle="dropdown">    
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow dropdownMenu" aria-labelledby="dropdownMenuButton">            
            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#passwordChangeModal">Settings</a></li>
            <li><a class="dropdown-item" >Profile</a></li>                            
        </ul>       
    </div>-->
</div>
  
