.navbar {
    display: flex;
    justify-content: space-around; /* Elemanlar arasında boşluk bırakarak ortalama */
    align-items: center; /* Dikey olarak ortalama */
    width: 10%;
    height: 5vh;
    margin-right: 0;
    margin-left: auto;    
    background-color: #2862a4;
    color: whitesmoke;
    border-radius: 10px;
}

 
.iconContainer {
    display: flex;
    justify-content: space-around; /* Elemanlar arasında boşluk bırakarak ortalama */
    align-items: center; /* Dikey olarak ortalama */
    width: 20px;
    height: 20px;
    border-radius: 50%;    
}

.userAvatar {
    width: 100px;
    height: 100px;
    border-radius: 50%; /* Tam yuvarlak */
}

.icon {
    font-size: 30px;
    color: whitesmoke;
}

.userName{
    font-size: calc(0.25 * 1.5vw + 0.25 * 1.5vh);
}

.dropdownMenu {
    right: 0;
    left: -7vw;
    top: 3.5vh;
    text-align: center; /* Öğeleri yatay olarak ortala */
}
