<div class="wrapper">
  <aside id="sidebar">
      <div class="d-flex">
          <button class="toggle-btn" type="button">
              <i class="lni lni-grid-alt" (click)="toggleSidebar()"></i>
          </button>
          <div class="sidebar-logo">
              <a>TeknoDepo</a>
          </div>
      </div>
      <ul class="sidebar-nav">
        <li class="sidebar-item">
            <a class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse" 
            data-bs-target="#profile" aria-expanded="false" aria-controls="profile">
                <i class="lni lni-user"></i>
                <span>Hesap</span>
            </a>

            <ul id="profile" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
              <li class="sidebar-item">
                  <a class="sidebar-link">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-vcard" viewBox="0 0 20 20">
                        <path d="M5 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4m4-2.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5M9 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 9 8m1 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5"/>
                        <path d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2zM1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H8.96q.04-.245.04-.5C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1 1 0 0 1 1 12z"/>
                    </svg> Profil
                  </a>
              </li>
              <li class="sidebar-item">
                  <a  class="sidebar-link"> <i class="lni lni-key"></i><span data-bs-toggle="modal" data-bs-target="#passwordChangeModal">Şifre Değiştir</span></a>
              </li>
             </ul>

        </li>
          @if (componentEnabled['Stok']) {
            <li class="sidebar-item" >
                <a  class="sidebar-link">
                    <i class="lni lni-archive"></i>
                    <span [routerLink]="'shelf'">Raf</span>
                </a>
            </li>
          }
          
          <li class="sidebar-item">
              <a  class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                  data-bs-target="#auth" aria-expanded="false" aria-controls="auth">
                  <i class="lni lni-package"></i>
                  <span>Ürün</span>
              </a>
              <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                  <li class="sidebar-item" [routerLink]="'stock'">                      
                      <a  class="sidebar-link"> <i class="fs-5 bi-boxes iconColor"></i> Stok</a>
                  </li>
                  <li class="sidebar-item" [routerLink]="'type'">
                      <a  class="sidebar-link"><i class="bi bi-gpu-card"></i>Ürün Grubu</a>
                  </li>
              </ul>
          </li>
          @if (componentEnabled['Çalışan']) {
            <li class="sidebar-item">
                <a  class="sidebar-link">
                    <i class="bi bi-people"></i>
                    <span [routerLink]="'employee'">Çalışan</span>
                </a>
                <!--<ul id="multi" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a  class="sidebar-link collapsed" data-bs-toggle="collapse"
                            data-bs-target="#multi-two" aria-expanded="false" aria-controls="multi-two">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-gear" viewBox="0 0 25 25">
                              <path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m.256 7a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1zm3.63-4.54c.18-.613 1.048-.613 1.229 0l.043.148a.64.64 0 0 0 .921.382l.136-.074c.561-.306 1.175.308.87.869l-.075.136a.64.64 0 0 0 .382.92l.149.045c.612.18.612 1.048 0 1.229l-.15.043a.64.64 0 0 0-.38.921l.074.136c.305.561-.309 1.175-.87.87l-.136-.075a.64.64 0 0 0-.92.382l-.045.149c-.18.612-1.048.612-1.229 0l-.043-.15a.64.64 0 0 0-.921-.38l-.136.074c-.561.305-1.175-.309-.87-.87l.075-.136a.64.64 0 0 0-.382-.92l-.148-.045c-.613-.18-.613-1.048 0-1.229l.148-.043a.64.64 0 0 0 .382-.921l-.074-.136c-.306-.561.308-1.175.869-.87l.136.075a.64.64 0 0 0 .92-.382zM14 12.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0"/>
                            </svg>
                            <span data-bs-toggle="modal" data-bs-target="#passwordChangeModal">İşlemler</span>
                        </a>
                        
                    </li>
                </ul>-->
            </li>
          }
          
          <li class="sidebar-item">
              <a class="sidebar-link">
                  <i class="lni lni-alarm"></i>
                  <span>Notification</span>
              </a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link">
                <i class="bi bi-exclamation-triangle"></i>
                <span [routerLink]="'stockalert'">Stok Uyarı</span>
            </a>
        </li>
          <!--<li class="sidebar-item">
              <a  class="sidebar-link">
                  <i class="lni lni-cog"></i>
                  <span>Setting</span>
              </a>
          </li>-->
      </ul>
      <div class="sidebar-footer">
          <a  class="sidebar-link">
              <i class="lni lni-exit"></i>
              <span>Çıkış Yap</span>
          </a>
      </div>
  </aside>
  <div class="main p-3">
    <app-header></app-header>
    <router-outlet></router-outlet>
  </div>
</div>

<!-- Şifre Değiştirme Modal -->
<div class="modal fade" id="passwordChangeModal" aria-hidden="true" aria-labelledby="passwordChangeModalLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="passwordChangeModalLabel">Şifre Değiştirme</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="employeePasswordChangeForm">
                    <div class="mb-3">
                        <label for="oldPassword" class="form-label">Mevcut Şifre</label>
                        <input type="password" formControlName="previousPassword" class="form-control" id="oldPassword" required>
                    </div>
                    <div class="mb-3">
                        <label for="newPassword" class="form-label">Yeni Şifre</label>
                        <input type="password" formControlName="newPassword" class="form-control" id="newPassword" required>
                    </div>
                    <div class="mb-3">
                        <label for="confirmNewPassword" class="form-label">Yeni Şifre Onayı</label>
                        <input type="password" formControlName="newPasswordCheck" class="form-control" id="confirmNewPassword" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Vazgeç</button>
                <button type="button" class="btn btn-primary" (click)="changePassword()">Değiştir</button>
            </div>
        </div>
    </div>
</div>