<div class="wrapper">
  <aside id="sidebar">
      <div class="d-flex">
          <button class="toggle-btn" type="button">
              <i class="lni lni-grid-alt" (click)="toggleSidebar()"></i>
          </button>
          <div class="sidebar-logo">
              <a>TeknoDepo</a>
          </div>
      </div>
      <ul class="sidebar-nav">
        <li class="sidebar-item">
            <a class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse" 
            data-bs-target="#profile" aria-expanded="false" aria-controls="profile">
                <i class="lni lni-user"></i>
                <span>Hesap</span>
            </a>

            <ul id="profile" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
              <li class="sidebar-item">
                  <a class="sidebar-link" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-vcard" viewBox="0 0 20 20">
                        <path d="M5 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4m4-2.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5M9 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 9 8m1 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5"/>
                        <path d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2zM1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H8.96q.04-.245.04-.5C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1 1 0 0 1 1 12z"/>
                    </svg> 
                    <span data-bs-toggle="modal" data-bs-target="#profileModal" (click)="getProfile()">Profil</span>
                    
                  </a>
              </li>
              <li class="sidebar-item">
                  <a  class="sidebar-link"> <i class="lni lni-key"></i><span data-bs-toggle="modal" data-bs-target="#passwordChangeModal">Şifre Değiştir</span></a>
              </li>
             </ul>

        </li>
          @if (this.currentUserRole === 'admin' || this.currentUserRole === 'depo_sorumlusu') {
            <li class="sidebar-item" >
                <a  class="sidebar-link">
                    <i class="lni lni-archive"></i>
                    <span [routerLink]="'shelf'">Raf</span>
                </a>
            </li>
          }
          <li class="sidebar-item" >
            <a  class="sidebar-link">
                <i class="bi bi-bar-chart"></i>
                <span [routerLink]="'chart'">Dashboard</span>
            </a>
        </li>
          <li class="sidebar-item">
              <a  class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                  data-bs-target="#auth" aria-expanded="false" aria-controls="auth">
                  <i class="lni lni-package"></i>
                  <span>Ürün</span>
              </a>
              <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                  <li class="sidebar-item" [routerLink]="'stock'">                      
                      <a  class="sidebar-link"> <i class="fs-5 bi-boxes iconColor"></i> Stok</a>
                  </li>
                  <li class="sidebar-item" [routerLink]="'type'">
                      <a  class="sidebar-link"><i class="bi bi-gpu-card"></i>Ürün Grubu</a>
                  </li>
              </ul>
          </li>
          @if (this.currentUserRole === 'admin') {
            <li class="sidebar-item">
                <a  class="sidebar-link">
                    <i class="bi bi-people"></i>
                    <span [routerLink]="'employee'">Çalışan</span>
                </a>
            </li>
          }
          
          <li class="sidebar-item">
              <a class="sidebar-link" data-bs-toggle="modal" data-bs-target="#notificationModal">
                <i class="lni lni-alarm" [ngClass]="{'red-alarm': printLowStockAlerts.length > 0, 'white-alarm': printLowStockAlerts.length === 0}"></i>
                  <span>Notification</span>
              </a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link">
                <i class="bi bi-exclamation-triangle"></i>
                <span [routerLink]="'stockalert'">Stok Uyarı</span>
            </a>
        </li>
      </ul>
      <div class="sidebar-footer">
          <a  class="sidebar-link" (click)="logout()">
              <i class="lni lni-exit"></i>
          </a>
      </div>
  </aside>
  <div class="main p-3">
    <app-header></app-header>
    <router-outlet></router-outlet>
  </div>
</div>

<!-- Şifre Değiştirme Modal -->
<div class="modal fade" id="passwordChangeModal" aria-hidden="true" aria-labelledby="passwordChangeModalLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="passwordChangeModalLabel">Şifre Değiştirme</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="employeePasswordChangeForm">
                    <div class="mb-3">
                        <label for="oldPassword" class="form-label">Mevcut Şifre</label>
                        <input type="password" formControlName="previousPassword" class="form-control" id="oldPassword" required>
                    </div>
                    <div class="mb-3">
                        <label for="newPassword" class="form-label">Yeni Şifre</label>
                        <input type="password" formControlName="newPassword" class="form-control" id="newPassword" required>
                    </div>
                    <div class="mb-3">
                        <label for="confirmNewPassword" class="form-label">Yeni Şifre Onayı</label>
                        <input type="password" formControlName="newPasswordCheck" class="form-control" id="confirmNewPassword" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-primary" (click)="changePassword()">Değiştir</button>
            </div>
        </div>
    </div>
</div>
<!--Profile Modal-->
<div class="modal profile" id="profileModal" aria-hidden="true" aria-labelledby="profileModalLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="profileLabel">Profil</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
               
                 <div class="mb-3">
                    <label for="name" class="form-label">Ad</label>
                    <input type="text"  class="form-control" id="name" [value]="employeeInfo.name" disabled> 
                </div>
                <div class="mb-3">
                    <label for="surname" class="form-label">Soyad</label>
                    <input type="text"  class="form-control" id="surname" [value]="employeeInfo.surname" disabled> 
                </div>
                <div class="mb-3">
                    <label for="role" class="form-label">Rol</label>
                    <input type="text"  class="form-control" id="role" [value]="employeeInfo.role" disabled> 
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email"  class="form-control" id="email" [value]="employeeInfo.email" disabled> 
                </div>
                    
               
                  
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
               
            </div>
        </div>
    </div>
</div>
<!--Notification Modal-->
<div class="modal fade" id="notificationModal" aria-hidden="true" aria-labelledby="notificationModalLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="notificationModalLabel">Bildirimler</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div *ngFor="let lowStockAlert of printLowStockAlerts; let i = index">
                    <label for="type" class="form-label">Düşük Stok Uyarısı</label>
                    <input type="text" class="form-control" id="username" disabled [value]="'Stok ID: ' + lowStockAlert.stockId">
                </div>                                   
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>                
            </div>
        </div>
    </div>
</div>